{% extends 'Admin/base.html' %}
{% block content %}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Teams Status</h4>

        </div>
        <div class="page-title-right">
            <button type="button" class="btn btn-info"  data-bs-toggle="modal" data-bs-target="#addemp">
                Add Team
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">               
                <div class="live-preview">
                    <div class="table-responsive table-card">
                        <table class="table align-middle table-nowrap mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col" class="text-center">S.No.</th>
                                    <th scope="col" class="text-center">Team Name</th>
                                    <th scope="col" class="text-center">Status</th>
                                    <th scope="col" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in team %}
                                
                                <tr>
                                    <td class="text-center">{{ forloop.counter }}</td>
                                    <td class="text-center">{{ i.T_name }}</td>
                                    <td class="text-center">
                                        
                                        {% if i.status == 0 %} Not Active {% else %} Active {% endif %}
                                    </td>
                                    
                                    <td class="text-center">
                                        <button type="button" class="btn btn-info"
                                                data-bs-toggle="modal" data-bs-target="#myModal"
                                                data-user-id="{{ i.id }}" data-status="{{ i.status }}">
                                            Change Status
                                        </button>      
                                         <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                data-bs-target="#DelTeam" data-user-id="{{ i.id }}">
                                               <i class="ri-delete-bin-line"></i>
                                        </button>                               
                                    </td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>                
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div>

<!-- Status Modals -->
<div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <form method='POST' action="{% url 'TeamEdit' %}">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Change Employee Status</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="user_id" id="user_id" hidden>
                    <div class="col-md-10">                  
                        <select class="form-control" name="change_status" id="change_status">
                            <option value='1'>Active</option>
                            <option value='0'>Not Active</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update Status</button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="DelTeam" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <form method="POST" action="{% url 'TeamEdit' %}">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Delete Corporate</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="team_id" id="team_id" value="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>



<script>
  
document.addEventListener('DOMContentLoaded', function() {
    var modal = document.getElementById('myModal');
    modal.addEventListener('show.bs.modal', function(event) {
        var button = event.relatedTarget;
        var userId = button.getAttribute('data-user-id');
        var status = button.getAttribute('data-status');
        var modalUserIdInput = document.getElementById('user_id');
        var modalStatusSelect = document.getElementById('emp_status');
       
        modalUserIdInput.value = userId; 
        modalStatusSelect.value = status;  
    });

    var delChangeModal = document.getElementById('DelTeam');
    delChangeModal.addEventListener('show.bs.modal', function(event) {
        var button = event.relatedTarget;
        var userId = button.getAttribute('data-user-id');
        var inputField = document.getElementById('team_id'); 
        inputField.value = userId;
    });
   
});
    
    
</script>
{% endblock %}


